.black {
    background-color: black;
    color: white;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}
